dirhistory=/home/$USER/.history
if [ ! -d "$dirhistory" ]; then mkdir $dirhistory; fi
HISTFILE=$dirhistory/$(date +%F_%H%M%S)

HISTTIMEFORMAT="%D %H:%M "
HISTCONTROL=ignoreboth
HISTFILESIZE=400000000
HISTSIZE=10000
PROMPT_COMMAND="history -a"

shopt -s histappend

function histo()
{
        filtre=$1
        grep $filtre $dirhistory/*
}