alias antidote='/opt/Druide/Antidote8/Programmes64/Antidote8'

alias kpc="cmdp show vault/keepass_perso | kp -d '/home/cedric/Sync/Central/trousseau.kdb' --stdin"
alias kpec="cmdp show vault/keepass_enquetes | kp -d '/home/epiconcept/globe/Technique/divers/epi/KeePass BDD/EnqVOO2.kdb.kdb' --stdin"
alias kpadm="cmdp show vault/keepass_admsys | kp -d '/home/epiconcept/globe/Technique/divers/epi/KeePass BDD/Admin.kdb' --stdin"

alias o='xdg-open'
alias presspap="xclip -selection clipboard"

alias ls='ls --color=auto'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'