# Let NetworkManager manage all devices on this system
network:
  version: 2
  renderer: NetworkManager
  ethernets:
    {{ m6network_interface }}:
      dhcp4: true
      routes:
{% for route in m6network_routes %}
        - to: {{ route }}
          via: {{ m6network_gateway }}
{% endfor %}
